html {
  box-sizing: border-box;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  }

    *, *::before, *::after {
      box-sizing: inherit;
    }

    body {
      margin: 0;
      padding: 0;
    }
