html {
  box-sizing: border-box;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  background-color: #dfe9f5;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  background-image: url("../images/logo.gif");
  background-repeat: no-repeat;
  background-position: left;
  background-size: .8em auto;
  width: 95%;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 2px 6px #000;
  padding: 0;



}
/*h1 {
  background-image: url("../images/logo.gif");
  background-repeat: no-repeat;
  background-position: left;
  background-size: .8em auto;
  color: #fff;
  font-size: 3em;
  font-weight: 400;
  text-shadow: 1px 2px 6px #000;
  margin: 0;
  padding: 0;
}*/

nav {
  overflow: hidden;
  margin: 0;
  clear: left;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
  float: left;
  width: 25%;
  border: 1px solid #3c606c;
  background-color: #748b9b;
}

nav a {
  padding: 0.5em;
  margin: 0em;
  list-style-type: none;
  color: #fff;
  text-decoration: none;
  font-size: 1.15rem;
  display: block;
}

nav a:hover {
  background-color: #3c606c;
}

.header {
  background-image:  url(../images/maerten.jpg);
  background-size: cover;
  padding: 9em 1em 1em 1em;
  color: #fff;
  text-shadow: 1px 2px 6px #000;
}

h2 {
  text-align: center;
  margin: 1em 1em 0em 1em;
  padding: 0;
}

.giza {
  width: 100%;
  margin: 1em 1em 0em 1em;
}

h3 {
  padding-left: 1em;
}

.link {
  background-color: #fff;
  text-align: center;
  padding: 1em;
}

.part3 {
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
}

.part4 {
  position: relative;
}

.atlantis {
  width: 100%;
  margin: 0;
  position: relative;
}

strong {
  font-size: 1.5rem;
}

.text {
  color: #fff;
  text-align: center;
  font-size: 1em;
  text-shadow: 1px 2px 6px #000;
  position: absolute;
  right: 50%;
  bottom: 50px;
  margin: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

li {
  list-style-type: none;
}

footer {
  background-color: #9bacb6;
  padding: 1em;
  border-top: 0.15em solid #222222;
}
